<div class="admin">
  <div class="admin-container">
    <div class="admin-container__header">
      <button class="admin-container__header--btns header-btn__active">Prospects</button>
      <button class="admin-container__header--btns">Charts</button>
      <button class="admin-container__header--btns">Mapa</button>
    </div>
    <div class="admin-container__infos">
      <div class="admin-container__infos-container">

      </div>
    </div>
  </div>
</div>

<script src="javascripts/admin.js"></script>