<div class="colored-line">
  <div class="colored-line--1"></div>
  <div class="colored-line--2"></div>
  <div class="colored-line--3"></div>
  <div class="colored-line--4"></div>
  <div class="colored-line--5"></div>
</div>

<header class="header">
  <div class="header__mask--green"></div>
  <div class="header__mask--black"></div>

  <div class="header__logo-box">
    <h1 class="header__logo-box--main">GENKI</h1>
    <h2 class="header__logo-box--sub">.FLEX</h3>
  </div>

  <div class="header__container">
    <div class="colored-line--header-container">
      <div class="colored-line--header-container--1"></div>
      <div class="colored-line--header-container--2"></div>
      <div class="colored-line--header-container--3"></div>
      <div class="colored-line--header-container--4"></div>
      <div class="colored-line--header-container--5"></div>
    </div>

    <div class="header__container--catch-block">
      <h3 class="header__container--catch">
        Cardápios flexíveis <br> para uma alimentação com menor carne.
      </h3>

      <button class="header__container-btn">QUERO SER GENKI</button>
    </div>

    <div class="header__container-form-block">
      <form action="/" method="POST" class="header__container-form">
        <input type="text" name="nome" class="header__container-form--input" placeholder="Nome:">
        <input type="text" name="email" class="header__container-form--input" placeholder="Email:">
        <input type="text" name="meat" class="header__container-form--input"
          placeholder="Come carne quantas vezes na semana?">
        <input type="text" name="bairro" class="header__container-form--input" placeholder="Bairro:">
        <input type="text" name="phone" class="header__container-form--input" placeholder="Telefone:">
        <button class="header__container-form--submit" type="submit" disabled>Finalizar</button>
      </form>
      <button class="header__container-form--next" type="button">Continue</button>
    </div>

  </div>

</header>


<div class="data">
  <div class="data-container">

    <div class="data-container__images">
      <figure class="data-container__images-container">
        <img class="data-container__images-container--img" src="images/dieta.svg" alt="Pote de saladas">
      </figure>
      <figure class="data-container__images-container">
        <img class="data-container__images-container--img" src="images/geladeira.svg" alt="Geladeira">
      </figure>
      <figure class="data-container__images-container">
        <img class="data-container__images-container--img" src="images/caminhao.svg" alt="Caminhão">
      </figure>
    </div>

    <div class="data-container__sentences">
      <p class="data-container__sentences--text">
        Dietas semanais <br> personalizadas com todos <br> os nutrientes que você precisa
      </p>
      <p class="data-container__sentences--text">
        Pratos ultra congelados para <br> garantir todos os nutrientes da <br> sua refeição
      </p>
      <p class="data-container__sentences--text">
        Entregas programadas para <br> você que tem uma agenda <br> apertada
      </p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer__container">
    <a href="#" class="footer__container--link">
      <img class="footer__container--img" src="./images/twitter-icon.svg" alt="twitter icon">
    </a>
    <a href="#" class="footer__container--link">
      <img class="footer__container--img-facebook" src="/images/facebook-icon.svg" alt="facebook icon">
    </a>
    <a href="#" class="footer__container--link">
      <img class="footer__container--img" src="/images/instagram-icon.svg" alt="instagram icon">
    </a>
  </div>

</footer>

<script src="javascripts/homepage.js"></script>