<header>
    <div class="allDiv">
        <div class="allDiv-content">
            <h1>GenkiFoods</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem repellendus quod natus neque blanditiis sed minus ipsa, id odio laboriosam architecto laudantium maiores atque, iure unde non culpa esse quam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate iusto exercitationem, nam corporis repudiandae quia blanditiis, delectus earum porro laudantium numquam excepturi odit enim ipsa atque explicabo modi, tenetur dolorem?</p>
        </div>
        <div class="allDiv-allForm">
            <form action="#">
            <input type="text" name="firstname" value="" placeholder="Nome:">
            <input type="text" name="firstname" value="" placeholder="Email:">
            <input type="text" name="firstname" value="" placeholder="Telefone:">
            <select name="Bairro" id="#">
            <option value="bairro">Bairro</option>
            </select>
            <select name="preferencia" id="#">
            <option value="preferencia">Preferências</option>
            </select>
            <button>CADASTRE-SE</button>
            </form>
        </div>
    </div>
</header>