<div class="colored-line">
  <div class="colored-line--1"></div>
  <div class="colored-line--2"></div>
  <div class="colored-line--3"></div>
  <div class="colored-line--4"></div>
  <div class="colored-line--5"></div>
</div>

<header class="header">
  <div class="header__mask--green"></div>
  <div class="header__mask--black"></div>

  <div class="header__logo-box">
    <h1 class="header__logo-box--main">GENKI</h1>
    <h2 class="header__logo-box--sub">.FLEX</h3>
  </div>

  <div class="header__container">
    <div class="header__container--catch-block">
      <h3 class="header__container--catch">
        Cardápios flexíveis <br> para uma alimentação com menor carne.
      </h3>

      <button class="header__container-btn">QUERO SER GENKI</button>
    </div>

    <div class="header__container-form-block">
      <form action="/" method="POST" class="header__container-form">
        <input type="text" name="nome" class="header__container-form--input" placeholder="Nome:">
        <input type="text" name="email" class="header__container-form--input" placeholder="Email:">
        {{!-- <input type="text" name="meat" class="header__container-form--input break"
          placeholder="Quantidade de carne por semana"> --}}
        <select class="header__container-form--select">
          <option value="quantidade-de-carne" selected>Consumo de carne desejado</option>    
          <option value="nenhum-dia">Nenhum</option>
          <option value="1-vez-semana">1 vez por semana</option>
          <option value="2-vezes-semana">2 vezes por semana</option>
          <option value="3-vezes-semana">3 vezes por semana</option>
          <option value="4-vezes-semana">4 vezes por semana</option>
          <option value="5-vezes-semana">5 vezes por semana</option>
          <option value="6-vezes-semana">6 vezes por semana</option>
          <option value="todos-os-dias">Todos os dias na semana</option>
        </select>
        <select class="header__container-form--select">
          <option value="bairro" selected>Bairro</option>    
          <option value="consolacao">Consolação</option>
          <option value="jardim paulista">Jardim Paulista</option>
          <option value="moema">Moema</option>
          <option value="vila mariana">Vila Mariana</option>
          <option value="outros">Outros</option>
        </select>
        <input type="text" name="phone" class="header__container-form--input" placeholder="Telefone:">
        <button class="header__container-form--submit" type="submit">Finalizar</button>
      </form>
      <button class="header__container-form--next" type="button">Continue</button>
    </div>

  </div>

</header>


<div class="data">
  <div class="data-container">

    <div class="data-container__images">
      <figure class="data-container__images-container">
        <img class="data-container__images-container--img-salad" src="images/dieta.svg" alt="Pote de saladas">
      </figure>
      <p class="data-container__sentences--text">
        Dietas semanais <br> personalizadas com todos <br> os nutrientes que você precisa
      </p>
    </div>
    <div class="data-container__images">
      <figure class="data-container__images-container">
        <img class="data-container__images-container--img-refrigerator" src="images/geladeira.svg" alt="Geladeira">
      </figure>
      <p class="data-container__sentences--text">
        Pratos ultra congelados para <br> garantir todos os nutrientes da <br> sua refeição
      </p>
    </div>
    <div class="data-container__images">
      <figure class="data-container__images-container">
        <img class="data-container__images-container--img-truck" src="images/caminhao.svg" alt="Caminhão">
      </figure>
      <p class="data-container__sentences--text">
        Entregas programadas para <br> você que tem uma agenda <br> apertada
      </p>
    </div>

    {{!-- <div class="data-container__sentences">
      
      
      
    </div> --}}
  </div>
</div>

<footer class="footer">
  <div class="footer__container">
    <a href="#" class="footer__container--link">
      <img class="footer__container--img" src="./images/twitter-icon.svg" alt="twitter icon">
    </a>
    <a href="#" class="footer__container--link">
      <img class="footer__container--img-facebook" src="/images/facebook-icon.svg" alt="facebook icon">
    </a>
    <a href="#" class="footer__container--link">
      <img class="footer__container--img" src="/images/instagram-icon.svg" alt="instagram icon">
    </a>
  </div>

</footer>

<script src="javascripts/homepage.js"></script>