<header class="header">

</header>

<div class="data">
  <div class="data-container">

    <div class="data-container__card">
      <div class="data-container__card--circle"></div>
      <p class="data-container__card--text">"Lorem ipsum dolor sit amet consectetur adipiscing elit"</p>
    </div>
    <div class="data-container__card">
      <div class="data-container__card--circle"></div>
      <p class="data-container__card--text">"Lorem ipsum dolor sit amet consectetur adipiscing elit"</p>
    </div>
    <div class="data-container__card">
      <div class="data-container__card--circle"></div>
      <p class="data-container__card--text">"Lorem ipsum dolor sit amet consectetur adipiscing elit"</p>
    </div>


  </div>
</div>

<footer class="footer">
  <div class="footer__container">
    <a href="#" class="footer__container--link">
      <img class="footer__container--img" src="./images/twitter-icon.svg" alt="twitter icon">
    </a>
    <a href="#" class="footer__container--link">
      <img class="footer__container--img-facebook" src="/images/facebook-icon.svg" alt="facebook icon">
    </a>
    <a href="#" class="footer__container--link">
      <img class="footer__container--img" src="/images/instagram-icon.svg" alt="instagram icon">
    </a>
  </div>

</footer>