<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet"> <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Genki Food</title>
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
</head>
<body>
  {{{body}}}
   {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLeuXTuY0XoXg29AE9wKkReDFnMtJh2E4"></script> --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLeuXTuY0XoXg29AE9wKkReDFnMtJh2E4"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
</body>
</html>