<div class="">
  <div class="">

    <h4 class="">LOGIN</h4>
    <form action="login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input data="commit" type="text" name="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input data="commit" type="password" name="password">
      </div>
      <div>
        <button class="btn-auth" type="submit">Login</button>
      </div>
    </form>
    <br>
  </div>
</div>