<div class="">
  <div class="">

    <h4 class="">SIGNUP</h4>

    <form action="/signup" method="POST" id="form-container">
        <label for="username">Username</label>
        <input data="commit" id="username" type="text" name="username" placeholder="Your name">
      </div>
      <div>
        <label for="email">Email</label>
        <input data="commit" id="email" type="text" name="email" placeholder="Your email">
      </div>
      <div>
        <label for="password">Password</label>
        <input data="commit" id="password" type="password" name="password" placeholder="Your password">
      </div>
      <label for="role">Role</label>
      <select name="role">
        <option value="adm">ADM</option>
      </select>
      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>
      </p>
      <button type="submit"> Submit </button>
    </form>