@import 'sass/abstracts/variables';
@import 'sass/abstracts/mixins';
@import 'sass/abstracts/base';
@import 'sass/abstracts/keyframes';

@import 'sass/layout/header';
@import 'sass/layout/data';
@import 'sass/layout/admin';
@import 'sass/layout/footer';


@import 'sass/components/coloredLine';

.map{
  width: 1000px;
  height: 600px;
  z-index: 100;
}