@import 'sass/variables';
@import 'sass/mixins';

* {
  margin: 0;
  padding: 0;
}

html {

  font-size: 62.5%;
}

header {
  background-color: rgba(0, 0, 0, .3);
  height: 100vh;
  position: relative;
}

.allDiv {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-content {
    width: 40%;

    h1 {
      font-size: 10rem;
    }

    p {
      padding-top: 5rem;
      font-size: 3rem;
    }
  }

  &-allForm {
    width: 30%;

    form {
      background-color: rgba(0, 0, 0, .3);
      padding: 3rem 3.5rem;
      border-radius: 1rem;
    }

    input {
      width: 100%;
      height: 5rem;
      margin: 1.5rem 0;
      border-radius: .5rem;
      border-style: none;

      &::placeholder {
        font-size: 3rem;
        padding: .2rem;
      }
    }

    select {
      width: 100%;
      height: 5rem;
      margin: 1.5rem 0;
      font-size: 3rem;
      border-radius: .5rem;
      border-style: none;
      background-color: #fff;
      color: rgb(117, 117, 117);
    }

    button {
      background-color: rgba(0, 0, 0, .3);
      color: #fff;
      width: 100%;
      height: 5rem;
      margin: 2rem 0;
      border-radius: .5rem;
      border-style: none;
      font-size: 3rem;
    }
  }
}

body {
  overflow-x: hidden;
}

.data {
  height: 60vh;
  position: relative;

  &-container {
    position: absolute;
    width: 80%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      height: 100%;
      justify-content: space-between;

      &--circle {
        background-color: #C4C4C4;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
      }

      &--text {
        width: 25rem;
        font-size: 3rem;
        text-align: center;
      }
    }
  }


}

.footer {
  height: 8rem;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;

  &__container {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--img {
      width: 3rem;

      &-facebook {
        width: 2rem;

        @include responsive(desktop) {
          width: 5rem;
        }
      }
    }
  }
}