* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto; }
  @media (max-width: 1930px) {
    html {
      font-size: 75%; } }

body {
  overflow-x: hidden; }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent; }
  input:focus,
  textarea:focus,
  button:focus,
  select:focus,
  a:focus {
    outline: none; }

.hidden {
  visibility: hidden; }

.hr-like {
  height: 2px;
  width: 90%;
  background-image: linear-gradient(to right, rgba(229, 229, 229, 0.3), rgba(130, 130, 130, 0.3), rgba(130, 130, 130, 0.3), rgba(100, 100, 100, 0.3), rgba(130, 130, 130, 0.3), rgba(130, 130, 130, 0.3), rgba(229, 229, 229, 0.3));
  margin: 0 auto; }

.fadeIn {
  animation: fadeIn .5s linear both; }

.expandRight {
  animation: expandRight .5s linear both; }

.fadeOut {
  animation: fadeOut 2s linear forwards; }

.translateLeft {
  animation: translateLeft 1.5s ease forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes translateLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-72rem); } }

.header {
  height: 128vh;
  position: relative;
  background-image: url("/images/saladBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  .header__mask--green {
    position: absolute;
    height: 128vh;
    width: 100%;
    background-color: rgba(49, 115, 1, 0.05); }
  .header__mask--black {
    position: absolute;
    height: 128vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .header__logo-box, .admin__logo-box {
    position: absolute;
    top: 3rem;
    left: 3.5rem;
    display: flex;
    align-items: baseline; }
    .header__logo-box--main, .admin__logo-box--main {
      font-weight: 900;
      font-size: 6rem;
      line-height: 7rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff; }
    .header__logo-box--sub, .admin__logo-box--sub {
      margin-left: .5rem;
      font-weight: 900;
      font-size: 2rem;
      line-height: 2.8rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: #fff; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 71rem;
    height: 33rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2.6rem;
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; }
    .header__container--catch {
      padding-top: 4.5rem;
      font-size: 2.8rem;
      line-height: 175%;
      color: #fff;
      text-align: center; }
      .header__container--catch-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
    .header__container-form {
      display: flex; }
      .header__container-form-block {
        display: flex;
        position: absolute;
        top: 8rem;
        left: 72rem; }
      .header__container-form--input {
        width: 45rem;
        padding: 3rem 2.5rem 2.5rem 2.5rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        margin-right: 11rem;
        font-size: 2rem; }
        .header__container-form--input-bairro {
          width: 50rem; }
        .header__container-form--input::placeholder {
          font-size: 2rem; }
      .header__container-form--next {
        margin: 0 11rem;
        position: absolute;
        top: 10rem; }
      .header__container-form--submit {
        position: absolute;
        top: 10rem;
        right: 22rem; }
    .header__container-btn, .header__container-form--next, .header__container-form--submit {
      width: 28rem;
      padding: 3.5rem 0;
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      border-radius: 2rem;
      border: none;
      outline: none;
      margin-bottom: 5rem;
      background-color: #F27405;
      color: #fff;
      transition: all .3s; }
      .header__container-btn:hover, .header__container-form--next:hover, .header__container-form--submit:hover {
        cursor: pointer;
        transform: scale(1.03) translateY(-4px); }
      .header__container-btn:active, .header__container-form--next:active, .header__container-form--submit:active {
        transform: scale(1.03) translateY(-2px); }

.data {
  height: 21rem;
  position: relative;
  background-color: #679546; }
  .data-container {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 100%; }
    .data-container__images {
      width: 100%;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 3rem; }
      .data-container__images-container {
        width: 30%;
        display: flex;
        justify-content: center; }
    .data-container__sentences {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .data-container__sentences--text {
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        color: #fff; }

.admin {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .admin__logo-box--main {
    color: #000; }
  .admin__logo-box--sub {
    color: #000; }
  .admin__logout {
    position: absolute;
    right: 5rem;
    top: 6.5rem;
    transform: translateY(-50%);
    font-size: 1.8rem;
    font-weight: 900;
    background-color: transparent;
    border: none;
    font-family: Roboto;
    text-decoration: none;
    color: #000; }
    .admin__logout:hover {
      cursor: pointer; }
  .admin__btns-container {
    margin: 11.5rem 0 0 5rem; }
    @media (max-width: 1930px) {
      .admin__btns-container {
        margin: 13rem 0 0 5rem; } }
    .admin__btns-container--btn {
      width: 13rem;
      background-color: #F29F05;
      border-radius: 1.5rem;
      text-align: center;
      border: none;
      padding: 1.4rem 2rem;
      color: #fff;
      font-weight: bold;
      margin-left: 1rem;
      transition: all .3s; }
      .admin__btns-container--btn:hover {
        transform: translateY(-4px) scale(1.03); }
      .admin__btns-container--btn:active {
        transform: scale(1.03) translateY(-2px); }

.tab-content__prospects {
  background-color: rgba(229, 229, 229, 0.3);
  width: 80%;
  margin: 8rem auto 0 auto;
  height: 56rem;
  border-radius: 2rem;
  overflow-y: scroll;
  position: relative; }
  @media (max-width: 1930px) {
    .tab-content__prospects {
      margin: 6rem auto 0 auto; } }
  .tab-content__prospects-header {
    margin: 0 auto;
    padding: 5rem 0 1rem;
    display: flex;
    width: 95%;
    justify-content: space-between; }
    .tab-content__prospects-header--title {
      width: 15%;
      font-size: 1.8rem;
      font-weight: 900; }
      .tab-content__prospects-header--title:nth-of-type(1) {
        width: 12%; }
      .tab-content__prospects-header--title:nth-of-type(2) {
        width: 12%; }
      .tab-content__prospects-header--title:nth-of-type(3) {
        width: 22%; }
      .tab-content__prospects-header--title:nth-of-type(5) {
        width: 12%; }
      .tab-content__prospects-header--title:last-of-type {
        width: 25%; }
  .tab-content__prospects-row {
    width: 95%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3); }
    .tab-content__prospects-row--infos {
      width: 15%;
      font-size: 1.2rem; }
      @media (max-width: 1930px) {
        .tab-content__prospects-row--infos {
          font-size: 1.6rem; } }
      .tab-content__prospects-row--infos:nth-of-type(1) {
        width: 12%;
        padding-left: 1rem; }
      .tab-content__prospects-row--infos:nth-of-type(2) {
        width: 12%; }
      .tab-content__prospects-row--infos:nth-of-type(3) {
        width: 22%; }
      .tab-content__prospects-row--infos:nth-of-type(5) {
        width: 12%;
        margin-left: 1rem; }
      .tab-content__prospects-row--infos:last-of-type {
        width: 25%;
        padding-left: 1rem; }

#canvas {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; }

#map {
  width: 60%;
  height: 100%; }

.footer {
  height: 6rem;
  background-color: #317302;
  display: flex;
  justify-content: center; }
  .footer__container {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__container--img {
      width: 2.5rem; }
      .footer__container--img-facebook {
        width: 1.4rem; }

.colored-line {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 8px; }
  @media (max-width: 576px) {
    .colored-line {
      position: absolute;
      flex-direction: column-reverse;
      z-index: 100;
      height: calc(128vh + 27rem);
      width: .5rem; } }
  .colored-line--1 {
    background-color: #317302;
    width: 37.5%; }
    @media (max-width: 576px) {
      .colored-line--1 {
        height: 37.5%;
        width: .5rem; } }
  .colored-line--2 {
    background-color: #679546;
    width: 37.5%; }
    @media (max-width: 576px) {
      .colored-line--2 {
        height: 37.5%;
        width: .5rem; } }
  .colored-line--3 {
    background-color: #F2B705;
    flex-grow: 1; }
  .colored-line--4 {
    background-color: #F29F05;
    flex-grow: 1; }
  .colored-line--5 {
    background-color: #F27405;
    flex-grow: 1; }
  .colored-line--header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    display: flex; }
    .colored-line--header-container--1 {
      background-color: #317302;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s; }
    .colored-line--header-container--2 {
      background-color: #679546;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s; }
    .colored-line--header-container--3 {
      background-color: #F2B705;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s; }
    .colored-line--header-container--4 {
      background-color: #F29F05;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s; }
    .colored-line--header-container--5 {
      background-color: #F27405;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s; }

.map {
  width: 100%;
  height: 600px; }

/*# sourceMappingURL=style.css.map */