.colored-line {
  display: flex;
  flex-direction: row-reverse;
  width: $colored-line-width;
  height: $colored-line-height;

  @include responsive(mobile) {
    position: absolute;
    flex-direction: column-reverse;
    z-index: 100;
    height: 128vh;
    width: .5rem;
  }

  &--1 {
    background-color: $color-dark-green;
    width: 37.5%;

    @include responsive(mobile) {
      height: 37.5%;
      width: .5rem;
    }
  }

  &--2 {
    background-color: $color-light-green;
    width: 37.5%;

    @include responsive(mobile) {
      height: 37.5%;
      width: .5rem;
    }
  }

  &--3 {
    background-color: $color-yellow;
    flex-grow: 1;
  }

  &--4 {
    background-color: $color-light-orange;
    flex-grow: 1;
  }

  &--5 {
    background-color: $color-dark-orange;
    flex-grow: 1;
  }

  &--header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    display: flex;

    &--1 {
      background-color: $color-dark-green;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s;
    }
  
    &--2 {
      background-color: $color-light-green;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s;
    }
  
    &--3 {
      background-color: $color-yellow;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s;
    }
  
    &--4 {
      background-color: $color-light-orange;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s;
    }
  
    &--5 {
      background-color: $color-dark-orange;
      width: 20%;
      height: 100%;
      opacity: 0;
      transition: all .3s;
    }

  }
}