* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto;

  @include responsive(bigDesktop) {
    font-size: 75%;
  }
}

body {
  overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

.hidden {
  visibility: hidden;
}

.hr-like {
  height: 2px;
  width: 90%;
  background-image: linear-gradient(to right, $color-light-grey, rgba(130, 130, 130, 0.3), rgba(130, 130, 130, 0.3), rgba(100, 100, 100, 0.3), rgba(130, 130, 130, 0.3), rgba(130, 130, 130, 0.3), $color-light-grey);
  margin: 0 auto;
}

.fadeIn {
  animation: fadeIn .5s linear both;
}

.expandRight {
  animation: expandRight .5s linear both;
}

.fadeOut {
  animation: fadeOut 2s linear forwards;
}

.translateLeft {
  animation: translateLeft 1.5s ease forwards;
}