@mixin responsive($view) {
  @if $view == mobile {
    @media (max-width: 576px) {
      @content;
    }
  }

  @if $view == desktop {
    @media (max-width: 1400px) {
      @content;
    }
  }

  @if $view == bigDesktop {
    @media (min-width: 1401px) {
      @content;
    }
  }

  @if $view == bigDesktop {
    @media (max-width: 1930px) {
      @content;
    }
  }
}

@mixin abs-center($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}