// DIMENSIONS
$data-header-height: 5rem;
$data-container-height: 70rem;

$colored-line-height: 8px;
$colored-line-width: 100%;

$header-height: 128vh;
$data-height: 21rem;
$footer-height: 6rem;

// COLORS
$color-white: #fff;

$color-dark-green: #317302;
$color-light-green: #679546;

$color-yellow: #F2B705;
$color-light-orange: #F29F05;
$color-dark-orange: #F27405;